# Specify filepatterns you want git to ignore.
!.gitignore
!.gitkeep

.env

**/.sublime-workspace

monolog.log
monolog.backup
exception.log



**/smarty/compile_dir/
**/smarty/cache_dir/
**/smarty/smarty_cache/

# ant.my
**/app/config/logs/
**/app/logs/
**/app/sessions/


# antCms.my
**/admin/core/cache/php/

##cmd##  git rm -r --cached .
##cmd##  git add .
##cmd##  git config --global user.email "antaNT.pro@gmail.com"
##cmd##  git commit -m "Apply universal ignore rules for smarty directories"