# Specify filepatterns you want git to ignore.
!.gitignore
.env
exception.log


_ant.my_.sublime-workspace
_skeleton.my_.sublime-workspace


app/config/.env
app/config/logs/

app/sessions/
app/smarty/


# .gitignore
app/smarty/compile_dir/*
app/smarty/cache_dir/*
!app/smarty/compile_dir/.gitkeep
!app/smarty/cache_dir/.gitkeep

nix2025.my/smarty/compile_dir/*
nix2025.my/smarty/compile_dir
nix2025.my/admin/monolog.log
nix2025.my/admin/monolog.backup
*.sublime-workspace


