{extends file="layout.tpl.html"}
{block name="styles"}
{$smarty.block.parent}
    <link rel="stylesheet" href="/lib/admin.css">
{/block}
{block name="content"}
    <h1><i class="bi bi-grid"></i> Добро пожаловать, Админ!</h1>
    <p>Это стартовая страница на FlightPHP + Smarty + Bootstrap.</p>
    <div class="row">
        <div class="col-md-4"><i class="bi bi-laptop"></i> admin Колонка 1</div>
        <div class="col-md-4"><i class="bi bi-phone"></i> admin Колонка 2</div>
        <div class="col-md-4"><i class="bi bi-tv"></i> admin Колонка 3</div>
        <div class="col-md-4"><i class="bi bi-phone"></i> admin Колонка 3</div>
        <div class="col-md-4"><i class="bi bi-tv"></i> admin Колонка 3</div>
    </div>
{/block}