# Specify filepatterns you want git to ignore.
!.gitignore
!.gitkeep

.env

**/.sublime-workspace

**/smarty/compile_dir/
**/smarty/cache_dir/
**/app/config/logs/
# ant.my
**/app/logs/
**/app/sessions/
monolog.log
monolog.backup

# antCms.my
**/admin/core/cache/php/
